.button {
  max-width: 268px;
  height: 50px;
  background-color: var(--color-black);
  border-radius: 1rem;
  color: var(--color-white);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.button:hover {
  background-color: var(--color-orange);
}
.button .text {
  font-size: 1.3rem;
  font-weight: 700;
}
.button .icon {
  height: 2rem;
  font-size: 2rem;
  margin-right: 0.5rem;
}
