.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 270px));
    grid-auto-rows: minmax(370px, 371px);
    gap: 6rem 4rem;
    margin: 6rem 0;
}
.cards.loading{
    grid-template-columns: 1fr;
    gap: 0;
    align-items: center;
}
