footer {
  background-color: var(--color-black);
  color: var(--color-white);
  display: grid;
  grid-template-areas:
    "header"
    "list";
  padding: 3rem 2rem;
}
.header {
  grid-area: header;
}
.header h1,
.header .icons {
  font-size: 2.5rem;
}
.header .icons {
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .icons svg {
  color: white;
}
.header .icons svg:hover {
  cursor: pointer;
  color: var(--color-orange);
  transition: 0.2s ease-in-out;
}
.header .icons svg + svg {
  margin-left: 1.4rem;
}
footer .list {
  grid-area: list;
  margin-top: 2.5rem;
}
footer .list > ul {
  max-width: 530px;
  margin: 0 auto;
}
footer .list > ul > li + li {
  margin-top: 1rem;
}
footer .list > ul > li:first-child {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
footer .list > ul > ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 66px));
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
